
.container{
  max-width:45vw;
  margin:0 auto;
}
.mainnav ul{
  display: flex;
  justify-content: center;
}
.mainnav{
  background-color: burlywood;
  padding:12px 0;
  box-shadow:2px 2px 10px 2px rgba(0,0,0,0.2) ;
}
.mainnav ul li{
  margin:0 24px;
  list-style: none;
  font-weight: bold;

}
.imgWrap{
 width:180px;
 margin: 0 auto; 
}
.coderImg{
  border-radius: 90px;
  border:8px solid burlywood !important
}

@media only screen and (max-width: 768px) {
  .mainnav ul li{
    margin:0 14px;
    
  }
  .mainnav ul {
    padding:0;
    
  
  }
  
}